
 .jumbotron jumbotron-fluid{
        text-align: center;
        color: black;
        
        }
  .display-4, .lead {
            text-align: center;
            color: black;
        }

.alert-heading{
    text-align: center;

}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    
  }
 
  .Instruction, .Instruction-Text{
    color: white;
      }

  .gameStats{
    color: white;
  }

  #computerScore-text{
    width: 150px;
    height: 100px;
    background-color: gainsboro;
    text-align: left;

  }